<!DOCTYPE html>
<html>
<head>
    <title>Quotes</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'quote_list' %}">Quotes</a>
            <a href="{% url 'register' %}">Register</a>
            {% if user.is_authenticated %}
                <a href="{% url 'add_author' %}">Add Author</a>
                <a href="{% url 'add_quote' %}">Add Quote</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
